<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dfstyle.css') }}">
</head>
<body>
    <div class="container">
        <h1>Scan History</h1>
        <div class="history-section">
           
            <pre>{{ history }}</pre>
        </div>
        <form action="{{ url_for('deepfake_detection') }}" method="GET">
            <button type="submit" class="back-button">Back to Detection</button>
        </form>
    </div>
</body>
</html>
